<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 col-xl-12"></div>
			<div class="site-footer-left col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
			<div class="site-footer-center col-xs-10 col-sm-10 col-md-10 col-lg-8 col-xl-10">
				&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}
			</div>
			<div class="site-footer-right col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
				<a href="https://github.com/NuttyNeko/circle" target="_blank">●</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 col-xl-12"></div>
		</div>
	</div>
</footer>
