// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.site-header {
	padding-top: 14px;
	margin-bottom: 30px;
	background-color: $light-white;
	border-bottom: 1px solid $light-gray;
}

.site-header-logo {
	font-size: 125%;
	vertical-align: middle;
}
