// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation menu.
// -----------------------------------------------------------------------------

nav {
	padding-top: 5px;
	text-align: right;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav a {
	@include transition(background 0.8s ease);
	padding: 2px 4px 2px 4px;
	margin-left: 8px;

	&:hover {
		@include transition(background 0.3s ease);
		background-color: $light-gray;
		text-decoration: none;
	}
}

nav a.active {
	background-color: $light-gray;
}
