// -----------------------------------------------------------------------------
// This file defines descriptive variables for colors.
// -----------------------------------------------------------------------------

$white: #ffffff;
$light-white: #fcfcfc;
$light-gray: #cccccc;
$dark-gray: #444444;

// Forgive me, I'm a deutan.
