// -----------------------------------------------------------------------------
// This file contains all styles related to the typography style of this site.
// -----------------------------------------------------------------------------

// Regular font family
$text-font-stack: 'Open Sans', sans-serif !default;

// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

body {
	color: $dark-gray;
	font: normal 100% / 1.8 $text-font-stack;
}
